In [2]:
from chatbot import *

In [4]:
chat("Carma East")

case_id                              1872399
trade_nm                          Carma East
legal_name                               NaN
street_addr_1_txt          507 E. 6th Street
cty_nm                              New York
                              ...
h2b_ee_atp_cnt                             0
sraw_violtn_cnt                            0
sraw_bw_atp_amt                            0
sraw_ee_atp_cnt                            0
ld_dt                2019-07-13 00:23:03 EDT
Name: 2, Length: 110, dtype: object

In [7]:
ffs = chat("Central Park North Meat LLC")

case_id                                  1732682
trade_nm                   Fine Fare Supermarket
legal_name           Central Park North Meat LLC
street_addr_1_txt               37-41  Lenox Ave
cty_nm                                  New York
                                ...
h2b_ee_atp_cnt                                 0
sraw_violtn_cnt                                0
sraw_bw_atp_amt                                0
sraw_ee_atp_cnt                                0
ld_dt                    2016-11-07 01:00:04 EST
Name: 6, Length: 110, dtype: object

In [27]:
amt_cols = [("amt" in col) for col in ffs.index]
bw_amt_cols = [("amt" in col) and ("bw" in col) for col in ffs.index]

In [28]:
ffs[bw_amt_cols]

bw_atp_amt                108740
flsa_bw_atp_amt           108740
flsa_mw_bw_atp_amt        101153
flsa_ot_bw_atp_amt       7586.82
flsa_15a3_bw_atp_amt           0
sca_bw_atp_amt                 0
mspa_bw_atp_amt                0
h1b_bw_atp_amt                 0
fmla_bw_atp_amt                0
dbra_bw_atp_amt                0
h2a_bw_atp_amt                 0
flsa_smw14_bw_amt              0
cwhssa_bw_amt                  0
osha_bw_atp_amt                0
eppa_bw_atp_amt                0
h1a_bw_atp_amt                 0
crew_bw_atp_amt                0
ccpa_bw_atp_amt                0
flsa_smwpw_bw_atp_amt          0
flsa_hmwkr_bw_atp_amt          0
ca_bw_atp_amt                  0
pca_bw_atp_amt                 0
flsa_smwap_bw_atp_amt          0
flsa_smwft_bw_atp_amt          0
flsa_smwl_bw_atp_amt           0
flsa_smwmg_bw_atp_amt          0
flsa_smwsl_bw_atp_amt          0
h2b_bw_atp_amt                 0
sraw_bw_atp_amt                0
Name: 6, dtype: object

In [29]:
sisulu = chat("Sisulu Children's Academy")

In [30]:
sisulu[amt_cols]

bw_atp_amt                 6599.51
flsa_bw_atp_amt                  0
flsa_mw_bw_atp_amt               0
flsa_ot_bw_atp_amt               0
flsa_15a3_bw_atp_amt             0
flsa_cmp_assd_amt                0
sca_bw_atp_amt                   0
mspa_bw_atp_amt                  0
mspa_cmp_assd_amt                0
h1b_bw_atp_amt             6599.51
h1b_cmp_assd_amt                 0
fmla_bw_atp_amt                  0
fmla_cmp_assd_amt                0
flsa_cl_cmp_assd_amt             0
dbra_bw_atp_amt                  0
h2a_bw_atp_amt                   0
h2a_cmp_assd_amt                 0
flsa_smw14_bw_amt                0
cwhssa_bw_amt                    0
osha_bw_atp_amt                  0
osha_cmp_assd_amt                0
eppa_bw_atp_amt                  0
eppa_cmp_assd_amt                0
h1a_bw_atp_amt                   0
h1a_cmp_assd_amt                 0
crew_bw_atp_amt                  0
crew_cmp_assd_amt                0
ccpa_bw_atp_amt                  0
flsa_smwpw_bw_atp_amt            0
flsa_hmwkr_bw_atp_amt            0
flsa_hmwkr_cmp_assd_amt          0
ca_bw_atp_amt                    0
pca_bw_atp_amt                   0
flsa_smwap_bw_atp_amt            0
flsa_smwft_bw_atp_amt            0
flsa_smwl_bw_atp_amt             0
flsa_smwmg_bw_atp_amt            0
flsa_smwsl_bw_atp_amt            0
h2b_bw_atp_amt                   0
sraw_bw_atp_amt                  0
Name: 14, dtype: object

In [31]:
non_bw_amt_cols = [("amt" in col) and ("bw" not in col) for col in ffs.index]

In [85]:
for name in sisulu[non_bw_amt_cols].index:
    print(name + " +", end =" ")

flsa_cmp_assd_amt + mspa_cmp_assd_amt + h1b_cmp_assd_amt + fmla_cmp_assd_amt + flsa_cl_cmp_assd_amt + h2a_cmp_assd_amt + osha_cmp_assd_amt + eppa_cmp_assd_amt + h1a_cmp_assd_amt + crew_cmp_assd_amt + flsa_hmwkr_cmp_assd_amt +

In [33]:
kids = chat("Comprehensive Kids")

In [34]:
kids[amt_cols]

bw_atp_amt                 5119.93
flsa_bw_atp_amt                  0
flsa_mw_bw_atp_amt               0
flsa_ot_bw_atp_amt               0
flsa_15a3_bw_atp_amt             0
flsa_cmp_assd_amt                0
sca_bw_atp_amt                   0
mspa_bw_atp_amt                  0
mspa_cmp_assd_amt                0
h1b_bw_atp_amt             5119.93
h1b_cmp_assd_amt              7844
fmla_bw_atp_amt                  0
fmla_cmp_assd_amt                0
flsa_cl_cmp_assd_amt             0
dbra_bw_atp_amt                  0
h2a_bw_atp_amt                   0
h2a_cmp_assd_amt                 0
flsa_smw14_bw_amt                0
cwhssa_bw_amt                    0
osha_bw_atp_amt                  0
osha_cmp_assd_amt                0
eppa_bw_atp_amt                  0
eppa_cmp_assd_amt                0
h1a_bw_atp_amt                   0
h1a_cmp_assd_amt                 0
crew_bw_atp_amt                  0
crew_cmp_assd_amt                0
ccpa_bw_atp_amt                  0
flsa_smwpw_bw_atp_amt            0
flsa_hmwkr_bw_atp_amt            0
flsa_hmwkr_cmp_assd_amt          0
ca_bw_atp_amt                    0
pca_bw_atp_amt                   0
flsa_smwap_bw_atp_amt            0
flsa_smwft_bw_atp_amt            0
flsa_smwl_bw_atp_amt             0
flsa_smwmg_bw_atp_amt            0
flsa_smwsl_bw_atp_amt            0
h2b_bw_atp_amt                   0
sraw_bw_atp_amt                  0
Name: 207, dtype: object

In [38]:
df = pd.read_csv("Wage_theft_all_zipcodes_NYC.csv")
df.head()

,case_id,trade_nm,legal_name,street_addr_1_txt,cty_nm,st_cd,zip_cd,naic_cd,naics_code_description,case_violtn_cnt,...,flsa_smwsl_bw_atp_amt,flsa_smwsl_ee_atp_cnt,eev_violtn_cnt,h2b_violtn_cnt,h2b_bw_atp_amt,h2b_ee_atp_cnt,sraw_violtn_cnt,sraw_bw_atp_amt,sraw_ee_atp_cnt,ld_dt
0,1872676,MTA NYC Transit,Metropolitan Transportation Authority,33-33 54th Street,Woodside,NY,11377,4852,Interurban and Rural Bus Transportation,0,...,0,0,0,0,0,0,0,0,0,2019-07-13 00:23:03 EDT
1,1800735,The Film Society of Lincoln Center,The Film Society of Lincoln Center,165 W 65 Street,New York,NY,10026,711110,Theater Companies and Dinner Theaters,1,...,0,0,0,0,0,0,0,0,0,2017-03-14 01:00:03 EDT
2,1872399,Carma East,NaN,507 E. 6th Street,New York,NY,10009,72211,Full-Service Restaurants,11,...,0,0,0,0,0,0,0,0,0,2019-07-13 00:23:03 EDT
3,1783359,Scotties Cleaning Services,Top of the Line Cleaning,121 W. 115th Street,New York,NY,10026,561720,Janitorial Services,18,...,0,0,0,0,0,0,0,0,0,2016-11-07 01:00:04 EST
4,1872356,Complete Construction Contracting,Complete Construction Contracting Corp,214 West 29th Street Suite 402,New York,NY,10001,2362,Nonresidential Building Construction,0,...,0,0,0,0,0,0,0,0,0,2019-07-13 00:23:03 EDT

In [51]:
non_bw_amts_df = df[kids[non_bw_amt_cols].index]
non_bw_amts_df.head()

,flsa_cmp_assd_amt,mspa_cmp_assd_amt,h1b_cmp_assd_amt,fmla_cmp_assd_amt,flsa_cl_cmp_assd_amt,h2a_cmp_assd_amt,osha_cmp_assd_amt,eppa_cmp_assd_amt,h1a_cmp_assd_amt,crew_cmp_assd_amt,flsa_hmwkr_cmp_assd_amt
0,0.0,0.0,0,0,0,0,0,0,0,0,0
1,0.0,0.0,0,0,0,0,0,0,0,0,0
2,0.0,0.0,0,0,0,0,0,0,0,0,0
3,0.0,0.0,0,0,0,0,0,0,0,0,0
4,0.0,0.0,0,0,0,0,0,0,0,0,0

In [76]:
non_zero_sums_df = non_bw_amts_df[non_bw_amts_df.apply(sum, axis=1) != 0]
non_zero_sums_df.head()

,flsa_cmp_assd_amt,mspa_cmp_assd_amt,h1b_cmp_assd_amt,fmla_cmp_assd_amt,flsa_cl_cmp_assd_amt,h2a_cmp_assd_amt,osha_cmp_assd_amt,eppa_cmp_assd_amt,h1a_cmp_assd_amt,crew_cmp_assd_amt,flsa_hmwkr_cmp_assd_amt
6,1463.00,0.0,0,0,0,0,0,0,0,0,0
7,3319.25,0.0,0,0,0,0,0,0,0,0,0
41,7480.00,0.0,0,0,0,0,0,0,0,0,0
67,23728.00,0.0,0,0,0,0,0,0,0,0,0
68,20900.00,0.0,0,0,0,0,0,0,0,0,0

In [81]:
non_zero_sums_df[non_zero_sums_df["flsa_cl_cmp_assd_amt"] != 0]

,flsa_cmp_assd_amt,mspa_cmp_assd_amt,h1b_cmp_assd_amt,fmla_cmp_assd_amt,flsa_cl_cmp_assd_amt,h2a_cmp_assd_amt,osha_cmp_assd_amt,eppa_cmp_assd_amt,h1a_cmp_assd_amt,crew_cmp_assd_amt,flsa_hmwkr_cmp_assd_amt
120,0.0,0.0,0,0,1765,0,0,0,0,0,0
712,0.0,0.0,0,0,6350,0,0,0,0,0,0
2099,0.0,0.0,0,0,4650,0,0,0,0,0,0
2645,0.0,0.0,0,0,1622,0,0,0,0,0,0
2656,0.0,0.0,0,0,1622,0,0,0,0,0,0
2725,0.0,0.0,0,0,50604,0,0,0,0,0,0
3638,0.0,0.0,0,0,5300,0,0,0,0,0,0
4305,0.0,0.0,0,0,4674,0,0,0,0,0,0

In [89]:
cmp_assd_amt_cols = [("cmp_assd_amt" in col) for col in ffs.index]

In [91]:
kids[cmp_assd_amt_cols]

flsa_cmp_assd_amt             0
mspa_cmp_assd_amt             0
h1b_cmp_assd_amt           7844
fmla_cmp_assd_amt             0
flsa_cl_cmp_assd_amt          0
h2a_cmp_assd_amt              0
osha_cmp_assd_amt             0
eppa_cmp_assd_amt             0
h1a_cmp_assd_amt              0
crew_cmp_assd_amt             0
flsa_hmwkr_cmp_assd_amt       0
Name: 207, dtype: object

In [95]:
case_counts = [("violtn_cnt" in col) for col in ffs.index]

In [98]:
sisulu[case_counts]

case_violtn_cnt          1
flsa_violtn_cnt          0
sca_violtn_cnt           0
mspa_violtn_cnt          0
h1b_violtn_cnt           1
fmla_violtn_cnt          0
flsa_cl_violtn_cnt       0
dbra_cl_violtn_cnt       0
h2a_violtn_cnt           0
flsa_smw14_violtn_cnt    0
cwhssa_violtn_cnt        0
osha_violtn_cnt          0
eppa_violtn_cnt          0
h1a_violtn_cnt           0
crew_violtn_cnt          0
ccpa_violtn_cnt          0
flsa_smwpw_violtn_cnt    0
flsa_hmwkr_violtn_cnt    0
ca_violtn_cnt            0
pca_violtn_cnt           0
flsa_smwap_violtn_cnt    0
flsa_smwft_violtn_cnt    0
flsa_smwl_violtn_cnt     0
flsa_smwmg_violtn_cnt    0
flsa_smwsl_violtn_cnt    0
eev_violtn_cnt           0
h2b_violtn_cnt           0
sraw_violtn_cnt          0
Name: 14, dtype: object